.appBottomHeading{
  color: #051c45;
  width: 300px;
  position: relative;
  margin: 2rem auto;
  margin-top: 100px;
  font-weight: bolder;
}
.appBottomHeading:after{
  content: '';
  position:absolute;
  left: 5rem;
  width: 120px;
  display: block;
  height: 3px;
  background-color: #051c45;
  bottom: -5px;
}
.appBottomDesc{
  text-align: center;
  color: grey;
  font-weight: 400;
}